$font-size-base: 0.8rem;
$light: #b5b5b5;
$primary: #ffc300;

$grid-columns : 10;

p{
    margin-bottom: .25rem !important;
}

.form-control {
    background-color: transparent !important;
    color: #b5b5b5 !important;
    border-color: #ffc30445 !important;
}

.toast-container {
    position: fixed !important;
}

@import 'bootstrap/scss/bootstrap';
